extends layout


//Need to use this in the form where photo upload is required
//<form action="/postPhotos" enctype="multipart/form-data" method="post">
//    <input type="file" name="photo">
//    <input type="submit" value="Upload photo">
//</form>

block content
  h1= title
  p Welcome to #{title}
