extends layout

block content
    h1 Login
    p Please use the form to login
    form(method='post',action='/users/login',enctype='multipart/form-data')
        .form-group
            label Username
            input.form-control(type='text',name='username',placeholder="Enter Username")
        .form-group
            label Password
            input.form-control(type='password',name='password',placeholder="Enter Password")
        button.btn.btn-default(type='submit',name='submit') Login